# Start date for scraping (MM-DD-YYYY)
START_DATE = 11-01-2025

# set to 1 to enable CSV output at the end of scraping
# OUTPUT_CSV = 1

# set to 1 to enable AWS dynamoDB upload after scraping
# OUTPUT_AWS = 1

# set to 1 to print scraping results
# VERBOSE = 0

# set to 1 to make the browser visible during scraping
# VISIBLE = 0


DYNAMO_TABLE_NAME =
AWS_REGION =
AWS_ACCESS_KEY =
AWS_SECRET_KEY =